.exp-page{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.exp-grid{
    display: flex;
    width: 70%;
    height: 70vh;
    margin: 11vh auto;
    flex-wrap: wrap;
    border-radius: 6px;
}

.europe{
    flex: 3;
    background-image: url("../../images/italy.jpeg");
    background-size: 100% 100%;
}

.right-side{
    flex: 4;
    display: flex;
    flex-direction: column;
}

.lead-shape{
    flex: 1;
    background-image: url("../../images/leadshape.jpg");
    background-size: 100% 100%;
}

.personal-site{
    flex: 1;
    background-image: url("../../images/mac.jpeg");
    background-size: 100% 100%;
}

.link-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    margin: 2px;
    transition: all .2s;
}

.link-box:hover{
    border: 6px solid #fcfeff;
    background-size: 110% 110%;
    cursor: pointer;
}

/*.link-box:hover h2, .link-box:hover a{*/
    /*color: #fff;*/
    /*text-decoration: none;*/
/*}*/

.link-box h2{
    margin: auto;
    font-size: 35px;
    font-weight: bold;
}

a.link-box{
    color: #fff;
    text-decoration: none;
}

@media(max-width: 600px){
    .exp-grid{
        height: 600px;
        margin: 5vh auto;
        flex-direction: column;
    }

    .link-box{
        height: 120px;
    }
    .link-box h2{
        font-size: 25px;
    }
}