.body{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header{
    font-size: 2.5em;
    margin-bottom: 0;
}

.nav-links{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1.1em;
    width: 80%;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
    width: 80%;
}